Submitted By - Megha Garg (100851223)

In [44]:
#Importing libraries
import pandas as pd
import numpy as np

In [45]:
#Dataset
df=pd.read_csv('dataR2.csv')

In [46]:
df.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1

In [47]:
#Description of data
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000,1.551724
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663,0.499475
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000,1.000000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250,1.000000
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500,2.000000
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000,2.000000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000,2.000000

In [48]:
df.isna().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [49]:
X=df.drop('Classification',axis=1)
Y=df['Classification']

In [50]:
X.head()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920

In [51]:
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Classification, dtype: int64

In [52]:
y

0      1
1      1
2      1
3      1
4      1
      ..
111    2
112    2
113    2
114    2
115    2
Name: Classification, Length: 116, dtype: int64

In [53]:
#splitting to the train and test data for both dataset "Data", "Data2"
from sklearn.model_selection import train_test_split
X_train,X_validate,Y_train,Y_validate = train_test_split(X,Y, test_size=0.20,random_state=1, stratify=y)

In [54]:
#Importing Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000)
lr.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

In [55]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
Y_predict=lr.predict(X_validate)
accu_LR=accuracy_score(Y_validate,Y_predict)
accu_LR

0.5416666666666666

In [56]:
import pickle
fileName = 'Megha_LR.sav'
pickle.dump(lr, open(fileName, 'wb'))

In [57]:
#KNN Importing
from sklearn.neighbors import KNeighborsClassifier
#training 2 models
knn = KNeighborsClassifier()
knn.fit(X_train,Y_train)
Y_pred=knn.predict(X_validate)

In [58]:
accu_KNN=accuracy_score(Y_validate,Y_pred)
accu_KNN

0.4166666666666667

In [59]:
import pickle
fileName = 'Megha_KNN.sav'
pickle.dump(knn, open(fileName, 'wb'))